{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CAR PARKING SYSTEM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            body {
                margin: 0;
            }

            * {
                box-sizing: border-box;
            }

            /* Style the header */
            .header {
                background-color: #f1f1f1;
                padding: 20px;
                text-align: center;
            }

             /* Style content links */
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            /* Change color on hover */
            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            /* Style the top navigation bar */
            .topnav {
                overflow: hidden;
                background-color: #333;
                display: flex;
                flex-direction: column;
            }

            /* Create three equal columns that floats next to each other */
            .column {
                float: left;
                width: 20%;
                padding: 12px;
            }

            

             /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
            @media screen and (max-width:640px) {
                .column {
                    width: 100%;
                    float: none;
                }

                .xe {
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }

            /* Style the footer */
            .footer {
                background-color: #f1f1f1;
                padding: 10px;
                text-align: left;
            }

            .content {
                margin: 0 auto;
                justify-content: center;
            }

            .xe {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }

            .component {
                width: 20%;
                height: 100%;
                padding: 10px 0;
                margin: 10px;
                align-items: center;
                border: #666 1px solid;
                background-color: #f2f2f2;
                text-align: center;
            }

            .component img {
                width: 50%;
                height: 100%;
                margin-bottom: 20px;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }
            
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }
            
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>

    <body>

        <div class="header">
            <h1>Số chỗ trống: <span style="color: black;" id="slot">None</span></h1> 
        </div>

        
        <div class="content">
            <div class="row">
                <div class="column">
                    <div class="topnav">
                        <a href="{% url 'dashboard' %}">Trang chủ</a>
                        <a href="{% url 'reserve' %}">Đặt chỗ</a>
                        <a href="{% url 'logout' %}">Đăng xuất</a>
                        <a href="{% url 'password_change' %}">Đổi mật khẩu</a>
                    </div>

                    <div class="column">
                        <h2>   Lịch đặt   </h2>
                        <table>
                            <thead>
                                <tr>
                                    <td>Họ và tên</td>
                                    <td>Thời gian</td>
                                    <td>Vị trí</td>
                                    <td>Ngày đặt</td>
                                    <td>Số điện thoại</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                <tr>  <!-- Bổ sung thẻ tr ở đây -->
                                    <td>{{ book.full_name }}</td>
                                    <td>{{ book.time }}</td>
                                    <td>{{ book.slot }}</td>
                                    <td>{{ book.date }}</td>
                                    <td>{{ book.phone_num }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                                             
                    </div>
                </div>
            
                
                <div class="xe">
                    
            
                    <!-----------------------------------------> 
                    <div class="component">
                        <h2>   Ô A1 </h2>
                        <img id="s1-img" src="{% static 'images\free.png' %}" alt="free-img">
                        <div>
                            <button id="s1-on">ON</button>               <!-- button: nút nhấn-->
                            <button id="s1-off">OFF</button>
                        </div>
                    </div>
            
        
                    <!-----------------------------------------> 
                    <div class="component">
                        <h2>   Ô A2 </h2>
                        <img id="s2-img" src="{% static 'images\free.png' %}" alt="free-img">
                        <div>
                            <button id="s2-on">ON</button>               <!-- button: nút nhấn-->
                            <button id="s2-off">OFF</button>
                        </div>
                    </div>
            
            
                    <!-----------------------------------------> 
                    <div class="component">
                        <h2>   Ô A3 </h2>
                        <img id="s3-img" src="{% static 'images\free.png' %}" alt="free-img">
                            <div>
                            <button id="s3-on">ON</button>               <!-- button: nút nhấn-->
                            <button id="s3-off">OFF</button>
                            </div>
                    </div>
                        
            
                    <!-----------------------------------------> 
                    <div class="component">
                        <h2>   Ô A4</h2>
                        <img id="s4-img" src="{% static 'images\free.png' %}" alt="free-img">
                            <div>
                            <button id="s4-on">ON</button>               <!-- button: nút nhấn-->
                            <button id="s4-off">OFF</button>
                            </div>
                    </div>
            
            
                    <!-----------------------------------------> 
                        
                    <div class="component">
                        <h2>   BARRIER   </h2>
                        <img id="barrier-img" src="{% static 'images/barrier-closed.png' %}" alt="barrier-img">
                            <div>
                            <button id="barrier-on">ON</button>               <!-- button: nút nhấn-->
                            <button id="barrier-off">OFF</button>
                            </div>
                    </div>

                    <!-----------------------------------------> 
                        
                    

                </div> 
            </div>
        </div>

        <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js";></script>
        <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js";></script> 
    
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>

